

@media only screen and (max-width:600px) {
  section {
    width:100%;
  }
}

<<<<<<< HEAD
/* MAX WIDTH 600PX */
=======
/* MAX-WIDTH 400PX */
@media (max-width: 400px) {
  .row {
    margin: 0 auto;
  }

  #containerOne p {
    width: 95%;
    margin: 0 auto;

  }
}


>>>>>>> final-updates
@media (max-width: 600px) {
  .navigation ul li {
    display:list-item;
    margin-right:20px;
  }

.navigation ul{
  height:auto;
  background:#272C33;


}
  nav{
    /* height:auto; */
  }

  nav a:before {
   display: none;
  }

  nav a:hover:before {
  display: none;
  }

  nav a:hover{
    color: white;
  }

  .navigation a.nav {
    display: none;

  }
  .navigation a.icon {
   float: right;
   display: block;
 }

 .navigation.responsive {
   position: relative;
 }

 .navigation.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
}

.navigation.responsive a {
  float: none;
  display: block;
  text-align: left;
}

.navigation.responsive ul{
  border-left:2px solid #444d59;
  border-bottom:2px solid #444d59;
  padding-left:20px;
}



  canvas {
    width: 0; height: 0;
  }

  h1 {
    text-align: center;
  }

  .headshot {
    width: 200px;
    height: auto;
  }

  #containerOne p {
    padding-left: 15px;
    padding-right: 15px;
  }

  #pageThree {
    height: auto;
  }

  .module{
    width: 100%;
  }

  .module i{
    width: 100%;
  }

  .module h6{
    width: 100%;
  }

  .moduleOne p {
    width: 100%;
  }

  .grid {
    grid-template-rows: 50px 50px 50px;
    grid-template-columns: 100px 100px 100px;
  }

  .box {
    font-size: 40px;
  }

}

/* MAX WIDTH 750PX */

@media (max-width: 750px) {

  #pageTwo {
    height: auto;
    padding-bottom: 50px;
  }

  .columnOne {
    width: 90%;
    border-radius: 10px;
    border: 3px solid #25282d;
    height: auto;
    padding-bottom: 10px;
  }

  .columnTwo, .columnThree{
    width: 90%;
    border-radius: 10px;
    margin-left: 0;
    border: 3px solid #25282d;
    height: auto;
    padding-bottom: 10px;
  }

  .row {
    flex-flow: column wrap;
  }

  .button {
    padding: 15px 32px;
  }

  .module {
    width: 100%;
    padding-left: 0;
    padding-bottom: 50px;
  }

  .grid {
    display: none;
    grid-template-rows: 0px 0px 0px;
    grid-template-columns: 0px 0px 0px;
    grid-gap: 0px;
    /* justify-content: center; */
    /* margin-top: 120px; */
  }

  #arrowContainer {
    display: none;
  }

  .box {
    font-size: 80px;
  }

  #containerFour {
    display: flex;
  }

  .column {
    width: 100%;
    padding-left:0px;
  }

  .contactInfo{
    width:100%;
    float:inherit;
    width: 400px;
  }

  input{
    margin-bottom:10px;
  }

}

/* MAX WIDTH 950PX */
@media (max-width: 950px) {
  .module {
    width: 100%;
    padding-left: 0;
    padding-bottom: 50px;
    padding-right: 0;
  }

  #moduleList {
    flex-flow: column wrap;
  }

  .grid {
    grid-template-rows: 200px 200px 200px;
    grid-template-columns: 250px 250px 250px;
  }

  .box {
    font-size: 130px;
  }

  #containerFour {
    flex-flow: column wrap;
  }

}

@media (min-width: 751px) and (max-width: 950px) {
  .button {
    padding: 10px 10px;
  }

}
