* {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;

}

html, body {
overflow-x: hidden;
}

section {
  width: 100vw;
  height: 1000px;
  float: left;
}



canvas{
  position: absolute;
  width: 100%; height: 100%;
  top: 0; right: 0; bottom: 0; left: 0;
}

.navigation {
  background-color: #272C33;
}

.navigation img {
  width: 110px;
  position: fixed;
  z-index: 2;
  margin-left: 15px;
  margin-top: 15px;
}

nav {
  width: 100vw;
  height: 100px;
  position: fixed;
  z-index: 1;
  background-color: #272C33;
  border-bottom: 2px solid #444d59;
}



nav a {
  position: relative;
  color: #08fdd8;
  text-decoration: none;
}

nav a:hover {
  color: #08fdd8;
}

 nav a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
 }

 nav a:hover:before {
   visibility: visible;
   -webkit-transform: scaleX(1);
   transform: scaleX(1);
 }

.navigation ul {
  width: fit-content;
  /* margin: auto; */
  list-style: none;
  float: right;
  display: inline;

}

.navigation ul li {
  float: left;
  margin-right: 30px;
}

.navigation ul li a {
  text-decoration: none;
}

h1 {
  text-align: center;
  margin-top: 100px;
  font-size: 50px;
  color: white;
}



#pageOne {
  background-color: #272C33;
  height: 830px;
  width: 100%;
}

#pageOne ul li a:hover {
  color: #08fdd8;
}

#pageOne nav ul li a {
  font-size: 20px;
  color: white;
  line-height: 100px;
}

#containerOne {
  width: 100%;
  margin:0 auto;
  position:relative;
  margin-bottom:100px;
  text-align: center;
  /* height: 900px; */
}

#containerOne p {
  font-size: 25px;
  color: #08fdd8;
}


.headshot {
  width: 250px;
  height: 250px;
  padding:50px;
}



.bio {
  max-width: 700px;
  margin: 0 auto;
}

/* .bio {
  width:800px;

} */

/* .bio p {
  font-size: 25px;
  color: #08fdd8;
}

@media (max-width: 900px) {
  .bio p {
    font-size: 20px;
  }
}

@media (max-width: 700px) {
  .bio p {
    width: 60%;
    text-align: center;
  }
} */

#pageTwo {
  background-color: #272C33;
  height: 1500px;
}



#containerTwo {
  max-width: 1300px;
  margin:0 auto;
  position:relative;
  display: flex;
}

.columnOne {
  float: left;
  width: 33%;
  height: 1000px;
  background-color: rgba(68, 77, 89, .8);
  border-radius: 10px 0px 0px 10px;
  border-left: 3px solid #25282d;
  border-top: 3px solid #25282d;
  border-bottom: 3px solid #25282d;
  flex: 1;

}



.columnTwo {
  float: left;
  width: 33%;
  height: 1000px;
  background-color: rgba(68, 77, 89, .8);
  margin-left: 1px;
  border-top: 3px solid #25282d;
  border-bottom: 3px solid #25282d;
  flex: 1;
}

.columnThree {
  float: left;
  width: 33%;
  height: 1000px;
  background-color: rgba(68, 77, 89, .8);
  border-radius: 0px 10px 10px 0px;
  margin-left: 1px;
  border-top: 3px solid #25282d;
  border-bottom: 3px solid #25282d;
  border-right: 3px solid #25282d;
  flex: 1;
}


/* @media screen and (max-width: 600px) {
  .row, .columnOne, .columnTwo, .columnThree {
    padding: 60px 35px;
  }
} */

.columnOne img, .columnTwo img, .columnThree img {
  width: 250px;
  margin:0 auto;
  opacity: 1;
  display: block;
  width: 80%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.columnOne .soundbytesLogo {
  width: 200px;
}

/* @media only screen and (max-width:800px) {
  .columnOne .soundbytesLogo {
    width: 100px;
  }
} */

.columnTwo .mychatLogo {
  width: 200px;
  padding-bottom: 30px;
  padding-top: 45px;
}

/* @media only screen and (max-width:800px) {
   .columnTwo .mychatLogo {
    width: 100px;
  }
} */

.columnThree .ccLogo {
  width: 130px;
  padding-bottom: 50px;
  padding-top: 63px;
}

/* @media only screen and (max-width:800px) {
   .columnThree .ccLogo {
    width: 100px;
  }
} */

.button {
  background-color: #272C33;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.columnOne h3, .columnTwo h3, .columnThree h3 {
  font-size: 30px;
  font-family: 'Titillium Web', sans-serif;
  color: white;
  /* padding: 30px; */
  padding-top: 50px;
  padding-bottom: 30px;
}

.columnOne p, .columnTwo p, .columnThree p {
  font-size: 20px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: lighter;
  width: 85%;
  margin: 0 auto;
  color: white;
  padding-top: 15px;
}

/* @media only screen and (max-width:800px) {
  .columnOne p, .columnTwo p, .columnThree p {
    font-size: 15px;
  }
} */

.columnOne h5, .columnTwo h5, .columnThree h5 {
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-size: 25px;
  color: #08fdd8;
  line-height: 5;
}

.columnOne li, .columnTwo li, .columnThree li {
  text-align: center;
  font-size: 35px;
  list-style: none;
  line-height: 1.3;
}

.columnOne ul, .columnTwo ul, .columnThree ul {
  color: white;
}

.row {
  align-content: center;
  display: flex;
}



.row:after {
  content: "";
  display: table;
  clear: both;
}

#pageThree {
  background-image: url("../images/cubes.png");
  height: auto;
  padding-bottom: 30px;
}

#pageThree h1 {
  color: #272C33;
}

#containerThree {
  width: 100%;
  position:relative;
  margin: 0 auto;
}

#educationContainer {
  padding-bottom: 500px;
  margin: 0 auto;
  width: 100vw;
}

#blocHeader {
  text-align: center;
}

#blocHeader h3 {
  font-size: 40px;
  padding-top: 20px;
  text-align: center;
}

#blocHeader p {
  font-size: 20px;
  padding-bottom: 220px;
  text-align: center;
  color: #55585b;
}

#blocHeader img {
  width: 130px;
  margin-top: 110px;
}

/* .moduleList:after {
  content: "";
  clear: both;
  display: table;
} */

#moduleList {
  margin: 0 auto;
  margin-bottom: 100px;
  height: auto;
  max-width: 1400px;
  display:flex;
}

.module {
  text-align: center;
  width: 20%;
  float: left;
  padding-left: 35px;
  padding-right: 35px;
  margin:0 auto;
}

.module i{
  font-size: 140px;
}

.module h6{
  font-size: 25px;
}

.module p {
  font-size: 15px;
  color: #55585b;
}

#arrowContainer {
  margin-top: 450px;
}

.skillsScroll {
  width: 25%;
  font-size: 30px;
  margin: 0 auto;
  text-align: center;
}

.arrow-down a {
  position:absolute;
  z-index:1;
  bottom:50;
  left:0;
  right:0;
}
.arrow-down a svg {
  position:absolute;
  z-index:1;
  left:0;
  right:0;
  margin:0 auto;
  animation-name: arrow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-name: arrow;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@keyframes arrow {
    0% {opacity:0;bottom:150px}
    50% {opacity:1;bottom:120px}
    100% {opacity:0;bottom:90px}
}
@-webkit-keyframes arrow {
    0% {opacity:0;bottom:150px}
    50% {opacity:1;bottom:120px}
    100% {opacity:0;bottom:90px}
}

.grid {
  display: grid;
  grid-template-rows: 250px 250px 250px;
  grid-template-columns: 300px 300px 300px;
  grid-gap: 20px;
  justify-content: center;
  margin-top: 120px;
}

.box {
  /* border: .5px solid #555; */
  background: #444d59;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f4f4f4;
  font-size: 150px;
  transition: transform .5s;
}

.box:hover {
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  background-color: #08ddbd;
}

.hoverPrompt {
  font-size: 10px;
  color: #555;
  text-align: center;
  padding-top: 80px;
  padding-bottom: -80px;
}


#pageFour {
  background-color: #272C33;
  height: auto;
}

#pageFour h1 {
  color: white;
}

#containerFour {
  width: 100%;
  border-radius: 5px;
  padding: 10px;
  display: flex;
}

form {
  padding-top: 80px;
}

label {
  color: #9a9ca0;
  font-size: 18px;
  font-family: 'Titillium Web', sans-serif;
}

input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 6px;
  resize: vertical;
}

input[type=submit] {
  background-color: #08fdd8;
  color: #444d59;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #08ddbd;
}

.column {
  float: left;
  width: 40%;
  padding: 5px;
  margin-left: 140px;
  margin-top: -170px;
  line-height: 1;
}

.contactInfo {
  padding-top: 80px;
  color: white;
  list-style: none;
  display: inline-block;
}


.contactInfo a:hover {
  color: black;
}

.contactInfo ul {
  list-style: none;
  line-height: 3;
  font-size: 25px;
  text-align: left;
  float: right;
  padding-right: 150px;
  font: 'Lato', sans-serif;
}

.contactInfo i {
  padding: 20px;
  color: #08fdd8;
  font-size: 30px;
}

footer #siteFooter {
  background-color: #444d59;
  line-height:100px;
  z-index: 1;
}

#siteFooter p {
  color: white;
  text-align: center;
}
