* {
  margin: 0;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
}

section {
  width: 100%;
  height: 1000px;
  float: left;
}

canvas{
  position: absolute;
  width: 100%; height: 100%;
  top: 0; right: 0; bottom: 0; left: 0;
}

.navigation {
  background-color: #272C33;
  transition: 0.3s;
}

/* .scrolled {
  background-color: #939090;
  transition: 0.3s;
} */

.navigation img {
  width: 110px;
  position: fixed;
  z-index: 2;
  margin-left: 15px;
  margin-top: 15px;
}

nav {
  width: 100%;
  height: 100px;
  position: fixed;
  z-index: 1;
  background-color: #444d59;
}

nav a {
  position: relative;
  color: #08fdd8;
  text-decoration: none;
}

nav a:hover {
  color: #08fdd8;
}

 nav a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
 }

 nav a:hover:before {
   visibility: visible;
   -webkit-transform: scaleX(1);
   transform: scaleX(1);
 }

.navigation ul {
  width: fit-content;
  /* margin: auto; */
  list-style: none;
  float: right;
  display: inline;

}

.navigation ul li {
  float: left;
  margin-right: 30px;
}

.navigation ul li a {
  text-decoration: none;
}

h1 {
  text-align: center;
  margin-top: 150px;
  font-size: 50px;
  color: white;
}

#pageOne {
  background-color: #272C33;
  height: 830px;
}

#pageOne ul li a:hover {
  color: #08fdd8;
}

#pageOne nav ul li a {
  font-size: 20px;
  color: white;
  line-height: 100px;
}

.iconBar  {
  width: 90px;
  background-color: #444d59;
  position: fixed;
  top: 40%;
}

.iconBar a:hover {
  background-color: #08fdd8;
}

.iconBar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

#containerOne {
  width:800px;
  margin:0 auto;
  position:relative;
  /* height: 900px; */
}

.headshot {
  width: 200px;
  height: 200px;
  padding:50px;
}

.bio {
  width:800px;
  margin-bottom:100px;
}

.bio p {
  font-size: 25px;
  color: #08fdd8;
  text-align: center;
}

#pageTwo {
  background-color: #272C33;
  height: 1200px;
}

#containerTwo {
  width: 1200px;
  margin:0 auto;
  position:relative;
}

.columnOne {
  float: left;
  width: 33%;
  height: 730px;
  background-color: #e1e7ef;
  border-radius: 10px 0px 0px 10px;
}

.columnTwo {
  float: left;
  width: 33%;
  height: 730px;
  background-color: #e1e7ef;
  margin-left: 1px;
}

.columnThree {
  float: left;
  width: 33%;
  height: 730px;
  background-color: #e1e7ef;
  border-radius: 0px 10px 10px 0px;
  margin-left: 1px;
}

.columnOne img, .columnTwo img, .columnThree img {
  width: 250px;
  padding: 15px;
}

.columnOne h3, .columnTwo h3, .columnThree h3 {
  font-size: 30px;
  font-family: 'Titillium Web', sans-serif;
  color: #272C33;
  padding: 10px;
}

.columnOne p, .columnTwo p, .columnThree p {
  font-size: 20px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: lighter;
  width: 85%;
  margin: 0 auto;
  color: #272C33;
}

.columnOne h5, .columnTwo h5, .columnThree h5 {
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
  font-size: 25px;
  color: #272C33;
  line-height: 5;
}

.columnOne li, .columnTwo li, .columnThree li {
  text-align: center;
  font-size: 35px;
  list-style: none;
  line-height: 1.3;
}

.columnOne ul, .columnTwo ul, .columnThree ul {
  color: #272C33;
}

.row {
  align-content: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#pageThree {
  background-color: #272C33;
  height: 1200px;
}

#containerThree {
  width: 1200px;
  position:relative;
  margin: 0 auto;
}

.grid {
  display: grid;
  grid-template-rows: 250px 250px 250px;
  grid-template-columns: 350px 350px 350px;
  grid-gap: 20px;
  justify-content: center;
}

.box {
  border: .5px solid #555;
  background: #444d59;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #AAA;
  font-size: 180px;
  transition: transform .5s;
}

.box:hover {
  -ms-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  background-color: #08ddbd;
}

.hoverPrompt {
  font-size: 20px;
  color: #555;
}

#pageFour {
  background-color: #272C33;
}

#pageFive {
  background-color: #272C33;
}

#containerFive {
  border-radius: 5px;
  padding: 10px;
}

label {
  color: #9a9ca0;
  font-size: 18px;
  font-family: 'Titillium Web', sans-serif;
}

input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 6px;
  resize: vertical;
}

input[type=submit] {
  background-color: #08fdd8;
  color: #444d59;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #08ddbd;
}

.column {
  float: left;
  width: 40%;
  padding: 5px;
  margin-left: 140px;
  margin-top: -170px;
}

.contactInfo {
  margin-top: 200px;
}

.contactInfo ul {
  list-style: none;
  line-height: 3;
  font-size: 25px;
  text-align: left;
  float: right;
  padding-right: 150px;
  font: 'Lato', sans-serif;
}

.contactInfo i {
  padding: 20px;
  color: #08ddbd
}

footer #siteFooter {
  background-color: #444d59;
  line-height:100px;
  z-index: 1;
}

#siteFooter p {
  color: white;
  text-align: center;
}
